html {
  font-family: 'Noto Sans', sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

nav ul li a {
  color: #b64c6e;
}

nav ul li a:hover {
  color: #860927;
}

.btn {
  color: #b64c6e;
  border-color: #d89fb0;
  border-width: medium;
}

hr {
  color: #e2e2e2;
}
